name: Continuous Integration (CI)

on:
  push:
  pull_request:

jobs:
  test:
    name: Run tests
    runs-on: ubuntu-latest

    steps:
      - name: Checkout the Git Repository
        uses: actions/checkout@v4

      - name: Setup Java toolchain
        uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: 21
          cache: "gradle"

      - name: Run unit tests
        run: ./gradlew test
